<h1>User info</h1>
  <p>name</p>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg' %>
  <%= @user.name%>
  <p>introduction</p>
  <%= @user.introduction %>
  <%= link_to "edit", edit_user_path(current_user.id) %>

  <h1>New book</h1>
  <%= form_with model:@book, local: true do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :opinion %>
    <%= f.text_area :body %>

    <%= f.submit "投稿" %>
  <% end %>


<h1>Books</h1>
  <% @books.each do |book| %>
    <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, format: "jpeg" %>
    <%= book.title %>
    <%= book.body %>
  <% end %>