<% if @book.errors.any? %>
  <p><%= @book.errors.full_messages.count %>件のerror</p>
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= render 'users/sidebar', user: @user, book: @book %>


<h1>Books</h1>
  <% @books.each do |book| %>
    <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, format: "jpeg", fallback: "no_image.jpg" %>
    <%= link_to "#{book.title}", book_path(book.id) %>
    <%= book.body %>
  <% end %>