<h3><%= link_to "ユーザー一覧に戻る", users_path %></h3>
<h2><%= @user.name %>さんとのチャット</h2>
<div class="col-md-3">
  <% if @messages.present? %>
    <% @messages.each do |message| %>
      <% if message.room.user_id == current_user.id %>
        <div class="current_user_message">
          <%= message.text %>
        </div>
      <% else %>
        <div class="you_message">
          <%= message.text %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%= form_with model:@message, local:true do |f| %>
    <%= f.text_field :text %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.submit "送信", class:"btn btn-success" %>
  <% end %>
</div>
